body{

    background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%);
}


.main_wrapper{
    width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 600px;
    background-color: rgba(134, 223, 255, 0);
    border-radius: 15px 15px 25px 25px;
}

.main_wrapper:after{

    content: none;
    opacity: 0.5;

}

.bar{
    width: auto;
    height: 91px;
    background-color: rgb(50, 154, 215);
    border-radius: 5px 5px 5px 5px;
}



.grid{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap:25px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 40px;
}

.box{
    background-image: url("../photos/buttonBG.jpg") ;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
}

.box:hover{
    transform: scale(1.1);
}

.box.f{
    grid-gap: 0px;
}

.box.c{
    grid-gap: 0px;
}

.logo{
  width: 75px;
  height: 75px;
  float: left;
  padding-top: 8px;
  padding-left: 10px;
}

.intranet_txt{
  padding-top: 20px;
  padding-left: 70px;
}

.icon{
  width: 100px;
  height: 100px;
  position: static;
  padding-top: 45px;
}
