body{

    background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%);
>>>>>>> bbeea4d485aef3ec9fa5c8a1876ab25e4d5359f9
}


.main_wrapper{
    width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 600px;
    background-color: rgba(134, 223, 255, 0);
    border-radius: 15px 15px 25px 25px;
}

.main_wrapper:after{

    content: none;
    opacity: 0.5;

}

.bar{
    width: auto;
    height: 60px;
    background-color: rgba(130, 170, 175,0  );
    border-radius: 15px 15px 0px 0px;
    display: none;
}



.grid{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap:25px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
}

.box{
    background-image: url("../photos/buttonBG.jpg") ;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
}

.box:hover{
    transform: scale(1.1);
}

.box.f{
    grid-gap: 0px;
}

.box.c{
    grid-gap: 0px;
}
