body{
    background-image: url("../photos/gradient-blurred.jpg");
    color: white;
}

.temp_wrap{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 600px;
    background-color: rgba(134, 223, 255, 0.5);
    display: block;
    border-radius: 25px 25px 35px 35px;
}

.temp_bar{
    width: auto;
    height: 60px;
    background-color: rgb(255, 153, 0);
    display: block;
    border-radius: 25px 25px 0px 0px;
}

.content_wrap{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap: 10px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
}