body{
    background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%);
>>>>>>> bbeea4d485aef3ec9fa5c8a1876ab25e4d5359f9
    color: white;
}

.temp_wrap{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 1000px;
    background-color: rgba(134, 223, 255, 0.5);
    display: block;
    border-radius: 15px 15px 25px 25px;
}

.temp_bar{
    width: auto;
    height: 60px;
    background: linear-gradient(rgb(41, 131, 184),rgb(50, 156, 216));
    display: block;
    border-radius: 15px 15px 0px 0px;
}

.content_wrap{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap: 10px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
}
